<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="../style.css">    
    <title>Baked Good Bakery</title>
  </head>
  <body>
    <h1>New Baked Goods Form</h1>
    <br>
    <br>
    <form action="/bakedgoods" method="POST">
      <label for="name"><p>Name</p></label>
      <input type="text" name="name" id="name" />
      <br>
      <label for="price"><p>Price </p></label>
      <input type="text" name="price" id="price" />
      <br>
      <label for="img"><p>Image</p></label>
      <input type="img" name="img" id="img" />
      <br>
      <input type="submit" value="Create Baked Good" />
    </form>
    <br>
    <a href='http://localhost:3000/bakedgoods/'>Back to Menu</a> 
  </body>
</html>





